<div>

  <div class="field is-grouped controls" >
    <p [hidden]="isDialogueHidden" class="control">
      <a (click)="showCreate()" class="button is-primary is-large">
        Create Channel
      </a>
    </p>
    <p [hidden]="isDialogueHidden" class="control">
      <a (click)="showJoin()" class="button is-primary is-large">
        Join Channel
      </a>
    </p>
  </div>

  <app-identity [hidden]="isChatHidden" ></app-identity>
  <app-message-box [hidden]="isChatHidden"></app-message-box>

  <div [hidden]="isCreateHidden" class="controls" class="has-addons">
    <div class="field">
      <div class="control is-expanded">
        <input #box (keyup)="onKey('address', box.value)" class="input is-primary" placeholder="Eth Address">
      </div>
    </div>

    <div class="field">
      <div class="control is-expanded">
        <input #box2 (keyup)="onKey('path', box2.value)" class="input is-primary" placeholder="Password path">
      </div>
    </div>

    <div class="field">
      <div class="control is-expanded">
        <input #box3 (keyup)="onKey('channel', box3.value)" class="input is-primary" placeholder="Channel Name or Hash">
      </div>
    </div>

    <div class="field is-grouped controls" >
      <div class="control">
        <button (click)="submit()" [disabled]="!values['channel']" class="button is-primary">Submit</button>
      </div>

      <div class="control">
        <button (click)="cancel()" class="button is-light">Cancel</button>
      </div>
    </div>

  </div>

  <div [hidden]="isJoinHidden" class="controls" class="has-addons">
    <div class="field">
      <div class="control is-expanded">
        <input #box4 (keyup)="onKey('address', box4.value)" class="input is-primary" placeholder="Eth Address">
      </div>
    </div>
    <div class="field">
      <div class="control is-expanded">
        <input #box5 (keyup)="onKey('path', box5.value)" class="input is-primary" placeholder="Password path">
      </div>
    </div>
    <div class="field">
      <div class="control is-expanded">
        <input #box6 (keyup)="onKey('channel', box6.value)" class="input is-primary" placeholder="Channel Name or Hash">
      </div>
    </div>

    <div class="field is-grouped controls" >
      <div class="control">
        <button (click)="submit()" [disabled]="!values['channel']" class="button is-primary">Submit</button>
      </div>

      <div class="control">
        <button (click)="cancel()" class="button is-light">Cancel</button>
      </div>
    </div>

  </div>
</div>
